@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --dark_blue: #142236;
}

html{
    font-family: 'Space Grotesk', sans-serif;
}

body{
    background-color: var(--dark_blue); 
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container{
    height: 100vh;
}

img, i, button{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
}